*{
    background-color: #B098A4;
    color:#06414B ;
    text-align: center;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}

h1{
    color: #21675E;
}

img{
    width: 300px;
    height: auto;
}